.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
types/**
node_modules/**
screenshot_template.html
*.vsix
*.zip
inject_html2canvas.js
vscode-swissknife-*/**
vscode-swissknife*